body {
	width: 100%;
}

div.masthead {
	height: 50px;
	background: url('/public/images/logo.png') no-repeat;
	background-position: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: rgba(156, 199, 156, 0.34);	
    border-bottom: 1px solid lightgray;
}
		
div.cc-total {
       display: none;
}
