    .ui-autocomplete-category {
      font-weight: bold;
      padding: .2em .4em;
      margin: .8em 0 .2em;
      line-height: 1.5;
    }

    .radio {
      padding-left: 10px;
    }

    .query-loading {
	    background-image: url('/public/images/loading.gif');
		background-repeat: no-repeat;
		height: 300px;
		font-size: 4em;
		line-height: 300px;
		margin: auto;
		width: 100%;
		text-align: center;
		background-position-x: 50%;
		display: none;
    }
    .run-query-error {
    	display: none;
    }