#{extends 'main.html' /}
#{set title:'MapLight Query' /}


  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/public/datatables/css/jquery.dataTables.css"/>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/public/js/maplight.js"></script>
  <script type="text/javascript" src="/public/js/locations.js"></script>
  <script type="text/javascript" src="/public/datatables/js/jquery.dataTables.min.js"></script>

  <style>
    .ui-autocomplete-category {
      font-weight: bold;
      padding: .2em .4em;
      margin: .8em 0 .2em;
      line-height: 1.5;
    }

    .radio {
      padding-left: 10px;
    }
  </style>


#{if flash.error}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>${flash.error}</strong>
</div>
#{/if}

<div class="row">

  <div class="span4" style="padding-left: 20px; border-right: solid 1px lightgray;">

    <form>

      <h3>Search by</h3>

      <h4>Donor</h4>
      <div class="filter-donor control-group">
        <div class="controls">
          <input type="text" id="filter-donor" placeholder="Organization or individual"/>
        </div>
      </div>

      <h4>Recipient(s)</h4>
      <div class="filter-recipient control-group">
        <div>
          <input type="radio" id="filter-recipient-anyone" name="filter-recipient" data-selector=".filter-recipient-anyone-data"/>
          <label for="filter-recipient-anyone" class="control-label radio inline">
            Anyone
            <input type="hidden" class="filter-recipient-anyone-data" value="__anyone"/>
          </label>
        </div>
        <div>
          <input type="radio" id="filter-recipient-single" name="filter-recipient" data-selector=".filter-recipient-single-data"/>
          <label for="filter-recipient-single" class="control-label radio inline">
            These candidates:
            <div>
              <textarea class="filter-recipient-single-data" autocomplete-type="candidate" placeholder="Candidate names"></textarea>
            </div>
          </label>
        </div>
        <div>
          <input type="radio" id="filter-recipient-all" name="filter-recipient" data-selector=".filter-recipient-all-data"/>
          <label for="filter-recipient-all" class="control-label radio inline">
            All current members
            <input type="hidden" class="filter-recipient-all-data" value="__current"/>
          </label>
        </div>
      </div>

      <h4>Location</h4>
      <div class="filter-location control-group">
        <div>
          <label for="filter-location-from">From city or state</label>
          <input type="text" id="filter-location-from" autocomplete-type="location" placeholder="City or State"/>
        </div>
        <div>
          <label for="filter-location-to">To city or state</label>
          <input type="text" id="filter-location-to" autocomplete-type="location" placeholder="City or State"/>
        </div>
      </div>

      <h4>Time</h4>
      <div class="filter-date control-group">
        <div>
          <label for="filter-date-start">Start year</label>
          <input type="date" id="filter-date-start" placeholder="Start date"/>
        </div>
        <div>
          <label for="filter-date-end">End year</label>
          <input type="date" id="filter-date-end" placeholder="End date"/>
        </div>
      </div>

      <h3>Run</h3>
      <button type="button" class="run-query btn btn-primary">Run Query</button>
      <div class="run-query-error" style="display:none;"></div>

    </form>

</div>

<div class="span8">
    <h3>Query results</h3>
    <div class="query-results">
      They'll be here after you run a query.
    </div>
  </div>

</div>

