<!DOCTYPE html>

<head>
  <title>#{get 'title' /}</title>
  <meta charset="${_response_encoding}">
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
  #{stylesheet 'bootstrap.min.css' /}
  #{stylesheet 'maplight.css' /}
  #{get 'moreStyles' /}

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
</head>

<body>
<div class="masthead">
</div>
<div class="content">
#{doLayout /}
</div>
</body>
