<!DOCTYPE html>

<head>
  <title>#{get 'title' /}</title>
  <meta charset="${_response_encoding}">
  <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
  #{get 'moreStyles' /}
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script type="text/javascript" src="/public/js/maplight.js"></script>
  <script type="text/javascript" src="/public/js/states.js"></script>
</head>

<body>
  <h3>Select a type of query:</h3>
  <div>
    <div><input type="radio" name="query-type" value="company">Contributions by company</input></div>
    <div><input type="radio" name="query-type" value="individual">Contributions by individual</input></div>
    <div><input type="radio" name="query-type" value="candidate">Contributions by candidate</input></div>
    <div><input type="radio" name="query-type" value="geographic">Contributions by geographic location</input></div>
  </div>

  <h3>Refine query:</h3>
  <div class="refine">

    <span>Please select a query type above.</span>

    <div class="refine-company" style="display: none;">
      <div>
        <span>From:</span>
        <input type="text" class="refine-company-from" placeholder="Company name"/>
      </div>
      <div>
        <span>To:</span>
        <div>
          <input type="radio" name="refine-company-to" data-selector=".refine-company-to-anyone-data">Anyone</input>
          <input type="hidden" class="refine-company-to-anyone-data" value="__anyone"/>
        </div>
        <div>
          <input type="radio" name="refine-company-to" data-selector=".refine-company-to-single-data">A single candidate</input>
          <input type="text" class="refine-company-to-single-data" autocomplete-type="candidate" placeholder="Candidate name"/>
        </div>
        <div>
          <input type="radio" name="refine-company-to" data-selector=".refine-company-to-all-data">All current candidates</input>
          <input type="hidden" class="refine-company-to-all-data" value="__current"/>
        </div>
      </div>
    </div>

    <div class="refine-individual" style="display: none;">
      <div>
        <span>From:</span>
        <input type="text" class="refine-individual-from" placeholder="Contributor name"/>
      </div>
      <div>
        <span>To:</span>
        <div>
          <input type="radio" name="refine-individual-to" data-selector=".refine-individual-to-anyone-data">Anyone</input>
          <input type="hidden" class="refine-individual-to-anyone-data" value="__anyone"/>
        </div>
        <div>
          <input type="radio" name="refine-individual-to" data-selector=".refine-individual-to-single-data">A single candidate</input>
          <input type="text" class="refine-individual-to-single-data" autocomplete-type="candidate" placeholder="Candidate name"/>
        </div>
        <div>
          <input type="radio" name="refine-individual-to" data-selector=".refine-individual-to-all-data">All current candidates</input>
          <input type="hidden" class="refine-individual-to-all-data" value="__current"/>
        </div>
      </div>
    </div>

    <div class="refine-candidate" style="display: none;">
      <div>
        <span>To:</span>
        <input type="text" class="refine-candidate-to" placeholder="Candidate name"/>
      </div>
      <div>
        <span>From:</span>
        <div>
          <input type="radio" name="refine-candidate-from" data-selector=".refine-candidate-from-anyone-data">Anyone</input>
          <input type="hidden" class="refine-candidate-from-anyone-data" value="__anyone"/>
        </div>
        <div>
          <input type="radio" name="refine-candidate-from" data-selector=".refine-candidate-from-single-data">A single candidate</input>
          <input type="text" class="refine-candidate-from-single-data" autocomplete-type="candidate" placeholder="Candidate name"/>
        </div>
        <div>
          <input type="radio" name="refine-candidate-from" data-selector=".refine-candidate-from-org-data">An organization</input>
          <input type="text" class="refine-candidate-from-org-data" placeholder="Organization name"/>
        </div>
      </div>
    </div>

    <div class="refine-geographic" style="display: none;">
      <div>
        <input type="radio" name="refine-geographic" data-selector=".refine-geographic-from-state-data">From state</input>
        <input type="text" class="refine-geographic-from-state-data" autocomplete-type="state" placeholder="State"/>
      </div>
      <div>
        <input type="radio" name="refine-geographic" data-selector=".refine-geographic-from-city-data">From city</input>
        <input type="text" class="refine-geographic-from-city-data" placeholder="City"/>
      </div>
      <div>
        <input type="radio" name="refine-geographic" data-selector=".refine-geographic-to-state-data">To state</input>
        <input type="text" class="refine-geographic-to-state-data" autocomplete-type="state" placeholder="State"/>
      </div>
    </div>

  </div>

  <h3>Data</h3>
  <button type="button" class="run-query">Run Query</button>
  <div class="run-query-error" style="display:none;"/>

</body>
